{% extends "base.html" %}

{% block "container" %}

<h1>О сервисе</h1>
<p>В настоящий момент на сайте доступен только один сервис - <a href="vkstatus">трансляция музыки с сайта Last.FM</a> в статус социальной сети "В Контакте". 
</p>
<h2>Новости</h2>

<h3>Обновление от 22.01.2013</h3>
<font style="color: red; font-size: 20px"><blink>Идет тестирование!</blink></font>
<font style="color: red; font-size: 15px"><p>О замеченных проблемах просьба сообщать в <a href="http://vk.com/lastfm_audiostatus">группу</a></p></font>
<p></p>

<br />
<h3>Обновление от 25.07.2012</h3>
<p>Что нового:</p>
<ul>
<li> Сайт <a href="http://lastfm.initab.ru/">http://lastfm.initab.ru/</a> теперь имеет какое-никакое оформление, ссылкой на него теперь не стыдно поделиться :)
<li> Проведен тотальный рефакторинг кода, теперь весь сервис крутится на Python + Django. Исходники будут выложены позднее
<li> База данных пользователей перенесена с платформозависимого хранилища на базе ФС на более универсальную и гибкую Django ORM
<li> Серверная часть теперь платфоромонезависима и (теоретически) масштабируема
</ul>
<p>Идеи развития:</p>
<ul>
<li> Произвольный формат статуса (чтобы можно было заменить стандартный Now playing)
<li> Восстановление старого статуса после завершения прослушивания музыки
<li> Перевод интерфейса на английский язык (если у кого-то из пользователей есть возможность помочь в этом направлении, то я буду очень рад)
</ul>

{% endblock %}
